#profile{
	float:left;
	width:26.666666666667%;
	padding:5% 3.333333333% 0 3.333333333%;
}

#profile h3{
	float:center;
	padding-bottom: 0px;
}

#social {
	float:center;
	
}

#linkedin{
	padding: 12px 1px 0 1px;
	float:center;
}

#github{
	padding: 12px 1px 0 1px;
	float:center;
}

#behance{
	padding: 12px 1px 0 1px;
	float:center;
}
#profile p{
	clear: both;
	position: static;
}

#profile-wrapper{
	
}

#profile img{
	display: block;
	margin: 0 auto;
}

#title{
	width:100%;
	height:15%;
	background-image:	
}


p{
	font-family:Arial, Times New Roman, Helvetica;	
}
